body{
	background-image: url('../images/blackbox.jpg');
	background-attachment: fixed;
	color:#ccc;
}
td{
	padding:5px 20px;
}
ul{
	list-style: none;
}
.LeftContent{
	position:fixed;
}
.LeftContent img{
	border-radius: 50%;
}

.linksContainer{
	margin-top:20px;
	-moz-box-shadow:    inset  0  8px 8px -8px #696868, 
                        inset  0 -8px 8px -8px #696868;
    -webkit-box-shadow: inset  0  8px 8px -8px #696868, 
                        inset  0 -8px 8px -8px #696868;
     box-shadow:        inset  0  8px 8px -8px #696868, 
                        inset  0 -8px 8px -8px #696868;
}
.links{
	list-style: none;
	margin:auto;
}
.links li{
	float:left;
	border:1px solid #333333;
	padding: 10px 10px 10px 13px;
	margin:10px 20px;
	width:50px;
	height:50px;
	border-radius:50%;
	color:#ccc !important;
}

.links li:hover{
	/*-webkit-animation: openAndClose 1s;
	-moz-animation:    openAndClose 1s;
	-o-animation:      openAndClose 1s;
	animation:         openAndClose 1s;*/
}

.LeftMask{
	background-color:rgba(0,0,0,0.799);
}
@media (max-width: 1200px){
	.links li{
		margin:10px 15px !important;
	}
}
@media (max-width: 1050px){
	.links li{
		margin:10px 10px !important;
	}
}
@media (max-width: 992px){
	.RightContent{
		width:100%;
	}
	.LeftContent{
		display: none;
	}
}
@media (max-width: 800px){
	.myName .title{
		font-size: 75%;
	}
	.myName .myDegree{
		font-size: 65%;
	}
}
@media (max-width: 515px){
	body{
		font-size:100%;
	}
	td{
		padding:3px 15px !important;
	}
	.positionName{
		font-size: 150%;
	}
	.companyName{
		font-size: 120%;
	}
}
@media (max-width: 390px){
	body{
		font-size: 80%;
	}
	td{
		padding:3px 5px !important;
	}
	.myName	.title{
		font-size: 69% !important;
	}
	.myName .myDegree{
		font-size: 55% !important;
	}
}
.RightContent{
	padding-bottom:20px;
}
.myName{
	font-size: 16pt;
	margin:0px;
	color:#FFFFFF;
	opacity: 0.8;
}
.myDegree{
	font-size: 12pt;
}


.title{
	font-size: 14pt;
	font-family: 'Centaur';
}

.centaurStyle{
	font-family: 'Centaur';
}
.contained{
	min-height: 50px;
	margin-bottom:10px;
	padding-bottom:10px;
	background-color: rgba(0,0,0,0.899);
	-moz-box-shadow:    inset 0 0 10px #ccc;
    -webkit-box-shadow: inset 0 0 10px #ccc;
    box-shadow:         inset 0 0 10px #ccc;
}
.uncontained{
	height: 100px;
	background-color:transparent;
}

.mobileFooter{
	width:100%;
	background-color: rgba(0,0,0,0.899);
	position:fixed;
	left:0px;
	bottom:0px;
	z-index: 9999;
	max-height: 75px;
}

.mobileFooter img{
	border-radius: 50%;
}

.companyName{
	color:#6b0000;
}
.companyName:hover{
	text-decoration: none;
	color:#D41C1C !important;
}
.positionName{
	color:#6B6B00;
	font-weight: bolder !important;
}
a:hover{
	text-decoration: none;
}
.muted{
	color:#717171;
}

hr{
	border:1px solid #910000;
	opacity:0.5;
}
/*@-webkit-keyframes openAndClose {
 	0% { 
		-moz-box-shadow: inset 1px 1px 1px 1px #ccc;
		-webkit-box-shadow: inset 1px 1px 1px 1px #ccc;
		box-shadow:#ccc; 
	}
	100%   { 
		-moz-box-shadow: inset 10px 10px 10px 10px #ccc;
		-webkit-box-shadow: inset 10px 10px 10px 10px #ccc;
		box-shadow:#ccc; 
	}
}*/