body{
	background-image: url('../images/blackbox.jpg');
	background-attachment: fixed;
}
td{
	padding:5px 20px;
}
ul{
	list-style: none;
}
.LeftContent{
	position:fixed;
}
.LeftMask{
	background-color:rgba(0,0,0,0.899);
}
@media (max-width: 800px){
	.RightContent{
		width:100%;
	}
	.myName .title{
		font-size: 75%;
	}
	.myName .myDegree{
		font-size: 65%;
	}
}

.myName{
	font-size: 16pt;
	margin:0px;
	color:#FFFFFF;
	opacity: 0.8;
}
.myDegree{
	font-size: 12pt;
}


.title{
	font-size: 14pt;
	font-family: 'Centaur';
}

.centaurStyle{
	font-family: 'Centaur';
}
.contained{
	min-height: 50px;
	background-color: #FFFFFF;
	text-align: center;
}
.uncontained{
	height: 100px;
	background-color: rgba(0,0,0,0.899);
}

.mobileFooter{
	width:100%;
	background-color: rgba(0,0,0,0.899);
	position:fixed;
	left:0px;
	bottom:0px;
	z-index: 9999;
	max-height: 75px;
}

.mobileFooter img{
	border-radius: 50%;
}