.blank{
	height: 200px;
	background: url(../img/bghead.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
	position:relative;
}
.vert-text h1{
	border:1px solid #FFF;
	margin:auto;
	width:50%;
	font-family: 'Roboto';
	font-weight:300;
}