
$global-blue:navy;
$primary-color:#000099;
$secondary-color:#F0F0F0;

@for $i from 1 through 100 {
	$size:percentage($i/100);

	.width-#{$i}{
		width: $size;
	}
}

.shadow{
	box-shadow: 2px 2px 8px #888888;
}

#caruchu{
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	/*border:1px solid black;*/
	width:100% !important;
	margin:auto !important;
	height:100% !important;
	
	#left{
		position:absolute;
		left:0px;
		height:100%;
		width:10%;
		/*top:45% !important;*/
		z-index:999;
		text-align:center;
	}
	#right{
		position:absolute;
		right:0px;
		height:100%;
		width:10%;
		/*top:45% !important;*/
		z-index:999;
		text-align:center;
	}
}

@media screen and (max-width:1137px) {
	#content{
		.subContent{
			&#content-works{
				ul{
					li{
						.container{
							.title-display{
								font-size: 4.0vw !important;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width:696px){
	#content{
		.subContent{
			&#content-works{
				ul{
					li{
						.container{
							.title-display{
								font-size: 3.5vw;
							}
						}
					}
				}
			}
		}
	}	
}

body{
	padding: 0px;
	margin: 0px;
	
	#tag{
		display:none;
		position: fixed;
		top:0px;

		height:20px;
		width:100%;
		background-color:$global-blue;
		padding:10px 0px;
		z-index: 99999;
		text-align: right;
			
		span{
			margin:10px;	
			color:#F0F0F0;
		}
	}
	#head{
		width: 100%;
		background-color:$primary-color;
		position:fixed;
		top:0px;

		img{
			width:100%;
		}
	}
	#content{
		min-height:500px;
		width:100%;
		background-color:$secondary-color;
		position:absolute;
		padding-top: 20px;
		display:block;
		
		.subContent{
			/*width:80%;*/
			border-radius:2px;
			height: 130px;
			padding:10px;
			margin:15px auto;
			background-color:#FFFFFF;

			@extend .shadow;

			&#content-works{
				background-color:steelblue;
				position:relative;
				overflow: hidden !important;

				ul{
					list-style: none;
					padding:0px !important;
					width:100% !important;
					margin:auto !important;
					cursor:pointer;
					
					li{
						/*float:left;*/
						display:block !important;
						width:100%;
						position:absolute;
						top:0px;
						height:100% !important;
						/*border:1px solid black;*/

						&.active{
							left:0px !important;
						}
						
						&#wired{
							color:#CCCCCC !important;
						}

						.container{
							position:relative;
							height:99% !important;
							
							.title-display{
								position:absolute;
								bottom:5px;
								right:15px;
								font-size: 4.0vw;
							}
						}
					}
				}
			}
		}
	}
}