.long, .row, body .cabinet #header, body .cabinet #profile, body .cabinet #experience {
  width: 100% !important; }

.moderate, body .cabinet #profile .content, body .cabinet #experience .content {
  width: 80% !important; }

.short {
  width: 60% !important; }

.xlarge {
  font-size: 48pt; }

.large {
  font-size: 42pt; }

.medium {
  font-size: 32pt; }

.small {
  font-size: 24pt; }

.xsmall {
  font-size: 18pt; }

.align-left {
  text-align: left !important; }

.align-center {
  text-align: center !important; }

.align-right {
  text-align: right !important; }

.mask {
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(1, 1, 1, 0.8);
  position: absolute;
  top: 0;
  z-index: 0 !important; }

.container {
  position: relative;
  height: 100% !important; }

ul {
  list-style-type: none; }
  ul li {
    display: block;
    text-align: left !important; }

body {
  padding: 0px;
  margin: 0px; }
  body .cabinet {
    @extent .long;
    /* ===================== header ========================= */
    /* ===================== profile ========================= */
    /* ===================== experience ========================= */ }
    body .cabinet #header {
      display: none;
      background-color: #ccc; }
      body .cabinet #header .content {
        color: #fff;
        height: 100% !important; }
        body .cabinet #header .content .wrap-subcontent {
          display: block;
          width: 100%;
          margin: auto;
          margin-top: 5px; }
          body .cabinet #header .content .wrap-subcontent .subcontent {
            position: absolute;
            top: 50%;
            text-align: center;
            width: 100%; }
            body .cabinet #header .content .wrap-subcontent .subcontent .title-wrap {
              width: 80% !important;
              margin: auto; }
              body .cabinet #header .content .wrap-subcontent .subcontent .title-wrap .title {
                display: inline-block;
                border: 1px solid #F0F0F0;
                padding: 10px;
                font-size: 42pt; }
              body .cabinet #header .content .wrap-subcontent .subcontent .title-wrap p {
                font-size: 26pt; }
    body .cabinet #profile {
      background-color: #C0C0C0;
      padding: 10px 0px; }
      body .cabinet #profile .content {
        margin: auto;
        text-align: center; }
        body .cabinet #profile .content .wrap-subcontent {
          display: inline-block;
          width: 80%; }
          body .cabinet #profile .content .wrap-subcontent .left-subcontent {
            float: left;
            width: 65%;
            display: inline-block; }
            body .cabinet #profile .content .wrap-subcontent .left-subcontent img {
              float: right;
              border-radius: 60%; }
          body .cabinet #profile .content .wrap-subcontent .right-subcontent {
            float: right;
            width: 34%; }
    body .cabinet #experience {
      background-color: #F0F0F0;
      padding: 10px 0px; }
      body .cabinet #experience .content {
        margin: auto;
        text-align: center; }

/*# sourceMappingURL=style.css.map */
