
$global-blue:navy;
$primary-color:blue;
$secondary-color:lightblue;
$hexagon-background-color:transparent;
.hexagon {
  position: relative;
  width: 300px; 
  height: 173.21px;
  background-color: $hexagon-background-color;
  margin: 86.60px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid $hexagon-background-color;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid $hexagon-background-color;
}


@mixin blur-effect($blurvar){
	-webkit-filter: blur($blurvar);
	-moz-filter: blur($blurvar);
	-o-filter: blur($blurvar);
	-ms-filter: blur($blurvar);
	filter: blur($blurvar);
}

body{
	padding: 0px;
	margin: 0px;
	
	#tag{
		display:none;
		position: fixed;
		top:0px;

		height:20px;
		width:100%;
		background-color:$global-blue;
		padding:10px 0px;
		z-index: 99999;
		text-align: right;
			
		span{
			margin:10px;	
			color:#F0F0F0;
		}
	}
	#head{
		height: 200px;
		width: 100%;
		background-image:url('../images/corvette.jpg');
		/*background-size:100% 400px;*/
		background-color:$primary-color;
		position:fixed;
		top:0px;
		
		/*@include blur-effect(5px);*/

		#main-head{
			/*width:100%;
			height:100%;
			background-color:rgba(0,0,0,0.7);*/
		}
	}
	#content{
		min-height:500px;
		width:100%;
		background-color:$secondary-color;
		position:absolute;
		top:200px;

		.hex{
			@extend .hexagon;
		}
	}
}