
$global-blue:navy;
$primary-color:#000099;
$secondary-color:#F0F0F0;

.shadow{
	box-shadow: 2px 2px 8px #888888;
}

body{
	padding: 0px;
	margin: 0px;
	
	#tag{
		display:none;
		position: fixed;
		top:0px;

		height:20px;
		width:100%;
		background-color:$global-blue;
		padding:10px 0px;
		z-index: 99999;
		text-align: right;
			
		span{
			margin:10px;	
			color:#F0F0F0;
		}
	}
	#head{
		width: 100%;
		background-color:$primary-color;
		position:fixed;
		top:0px;

		img{
			width:100%;
		}
	}
	#content{
		min-height:500px;
		width:100%;
		background-color:$secondary-color;
		position:absolute;
		padding-top: 20px;
		
		.subContent{
			width:80%;
			border-radius:2px;
			min-height: 200px;
			padding:10px;
			margin:15px auto;
			background-color:#FFFFFF;

			@extend .shadow;
		}
	}
}