@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|fontawesome|fontelico|iconicfill|iconicstroke|maki|openwebicons|typicons|zocial);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* fontelico */
[class*="fontelico-"]:before {
  font-family: 'fontelico', sans-serif;
}

/* iconicfill */
[class*="iconicfill-"]:before {
  font-family: 'IconicFill', sans-serif;
}

/* iconicstroke */
[class*="iconicstroke-"]:before {
  font-family: 'IconicStroke', sans-serif;
}

/* maki */
[class*="maki-"]:before {
  font-family: 'maki', sans-serif;
}

/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif;
}

/* typicons */
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}


@font-face{
	font-family: 'Rain Tax';
	src: url('font-styles/Rain Tax.otf');
}
@font-face{
	font-family: 'Viking';
	src: url('font-styles/Viking_n.tff');
}
@font-face{
	font-family: 'Blade';
	src: url('font-styles/Blade 2.ttf');
}
@font-face{
	font-family: 'Gonjuring';
	src: url('font-styles/THE GONjURING.ttf');
}


body{
    position:absolute;
    margin:0;
    width:100%;
    height:100%;
    background-color:#232323;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: #274559;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(10, 10, 10, 0.75);
    -moz-box-shadow:    0px 3px 5px 0px rgba(10, 10, 10, 0.75);
    box-shadow:         0px 3px 5px 0px rgba(10, 10, 10, 0.75);
}
.content{
    position:relative;
    top:20%;
    color:#fff;
    width:100%;
    height:80%;
}
.linkPanel{
    position:absolute;
    left:0;
    width:25%;
    height:100%;
    display: inline;
}
.mainLink{
    position:absolute;
    right:0;
    width:75%;
    height:100%;
    color: #fff;
    border-left:1px solid #131313;
    background-color:#282828;
    -webkit-box-shadow: -3px 3px 5px 0px rgba(10, 10, 10, 0.75);
    -moz-box-shadow:    -3px 3px 5px 0px rgba(10, 10, 10, 0.75);
    box-shadow:         -3px 3px 5px 0px rgba(10, 10, 10, 0.75);
    margin-top:-30px;
}
.profilePic{
    text-align: center;
}
.profilePic img{
    margin-top:30px;
    width:150px;
    height:150px;
    padding:5px;
    border-radius: 100%;
    border:1px solid #232323;
    -webkit-box-shadow: 0px 1px 3px 3px rgba(10, 10, 10, 0.75);
    -moz-box-shadow:    0px 1px 3px 3px rgba(10, 10, 10, 0.75);
    box-shadow:         0px 1px 3px 3px rgba(10, 10, 10, 0.75);
}
.contentPanel{
    position:absolute;
    right:0;
    width:75%;
    height:100%;
    display:inline;
}
.mainContent{
    position:relative;
    width:90%;
    background-color:#fff;
    color:#000;
    margin-top:-30px;
    min-height:100%;
    max-height: 535px;
    overflow: hidden;
    -webkit-box-shadow: 3px 3px 5px 1px rgba(10, 10, 10, 0.75);
    -moz-box-shadow:    3px 3px 5px 1px rgba(10, 10, 10, 0.75);
    box-shadow:         3px 3px 5px 1px rgba(10, 10, 10, 0.75);
    overflow-y:auto;

}
.myName{
    text-align: center;
    padding:10px 5px;
    background-color: #274559;
    border:2px solid #274559;
    font-size: 10pt;
    color:#232323;
}
.contactInfo{
    position:absolute;
    margin:auto;
    margin-top:20px;
    display: inline-block;
    z-index: 99;
    width:100%;
}
.socials .contactPanel{
    width:30%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#282828;
    color:#CCC;
    text-align: center;
    display:inline-block;
}
.socials .icon{
    color:#274559;
    margin:0px auto;
    display:inline-block;
    width:35px;
    height:35px;
    border:2px solid #274559;
    line-height: 35px;
    white-space: nowrap;
    border-radius: 100%;
}
.socials{
    text-align: center;
    position:absolute;
    bottom:15px;
    width:100%;
}
.socials .icon:hover{
    background-color:#274559;
    color:#232323;
}
.mobile{
    margin-top: 25px;
}
.bdLabel{
    position: absolute;
    bottom:0px;
    left:0px;
    border:1px solid black;
    width:50%;
    display: inline;
   /* -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);*/
}
.bdLabel ul{
    display: inline-block;
    /*float:left;*/
    padding:0px;
    margin:0px;
}
.bdLabel li{
    float:left;
    display:block;
    border:1px solid black;
    
}
.bdContent{
    float:right;
    width:95%;
}

.subContent{
    position:relative;
    width:100%;
    height:500px;
    background-color:#282828;
    padding:5px;
}
::-webkit-scrollbar { 
    display: none; 
}
.fixed{
    width:100%;
    height:100%;
}
@media (max-width: 515px){
    .linkPanel{
        display:none !important;
    }
    .contentPanel{
        width:100%;
        position:absolute;
        left:0px;
        margin:auto;
    }
    .mainContent{
        background-color:#232323;
        width:100%;
    }
}