@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|fontawesome|fontelico|openwebicons|typicons|zocial);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* fontelico */
[class*="fontelico-"]:before {
  font-family: 'fontelico', sans-serif;
}

/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif;
}

/* typicons */
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}


@font-face{
	font-family: 'Rain Tax';
	src: url('font-styles/Rain Tax.otf');
}
@font-face{
	font-family: 'Viking';
	src: url('font-styles/Viking_n.tff');
}
@font-face{
	font-family: 'Blade';
	src: url('font-styles/Blade 2.ttf');
}
@font-face{
	font-family: 'Gonjuring';
	src: url('font-styles/THE GONjURING.ttf');
}


body{
	letter-spacing: 2px;
}
.container{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color: #000000;
}
.subcontainer{
	position:relative;
	height:50%;	
}
.blue{
	background-color: #101887;
	color:#F0F0F0;
}
.black{
	background-color: #000000;

}

.content{
	position:absolute;
	left:10%;
	bottom:0;
	width:80%;
	background-color:#FFFFFF;
	margin:auto !important;
	height:75%;
}

.blue .content{
	background-color:#000875;
	/*color:#04E013;*/
	color:#F0F0F0;
}
.profilePic{
	position:relative;
	height:100%;
	background-color: #000000;
	width:20%;
}
.profilePic img{
	height:100%;
	width:100%;
	opacity:0.7;
	display:inline-block;
}
.profilePic img:hover{
	opacity:1;	
}
.profileInfo{
	position:absolute;
	top:0;
	right:0;
	display:inline;
	width:75%;
	padding:20px 10px;
	color:#F0F0F0;
	z-index: 111;
}
.profileInfo .name{
	font-family: 'Gonjuring';
	font-size: 18pt;
	font-weight: 100;
}
.profileInfo ul{
	list-style: none;
}
.profileInfo ul li{
	margin:5px;
	overflow: hidden;
}
.profileInfo span{
	line-height: 30px;
	text-align: center;
}
.profileInfo ul li .linkIcon{
	position:absolute;
	display: inline-block;
	z-index: 999;
	margin-left:-10px;
}
.profileInfo ul li .linkIcon span{
	background-color:#000875;
	display:inline-block;
	border:2px solid #FFFFFF;
	width:30px;
	height:30px;
	border-radius:100%;
}
.profileInfo ul li .linkIcon span:hover{
	/*border:2px solid #04E013;*/
	/*color:#04E013;*/
}
.profileInfo ul li .linkText{
	background-color:#CCC;
	border:1px solid #CCC;
	display:inline-block;
	height:28px;
	overflow: hidden;
	margin-top:2px;
	font-size: 10pt;
	padding-right:3px;

	-webkit-border-top-right-radius: 134px;
	-webkit-border-bottom-right-radius: 134px;
	-moz-border-radius-topright: 134px;
	-moz-border-radius-bottomright: 134px;
	border-top-right-radius: 134px;
	border-bottom-right-radius: 134px;
}
.profileInfo ul li .linkText span{
	color:#333;
	float:right;
	margin-left: 10px;
}
@media (max-width: 768px){
	.content{
		left:0 !important;
		width:100% !important;
	}
}