@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|fontawesome|fontelico|iconicfill|iconicstroke|maki|openwebicons|typicons|zocial);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* fontelico */
[class*="fontelico-"]:before {
  font-family: 'fontelico', sans-serif;
}

/* iconicfill */
[class*="iconicfill-"]:before {
  font-family: 'IconicFill', sans-serif;
}

/* iconicstroke */
[class*="iconicstroke-"]:before {
  font-family: 'IconicStroke', sans-serif;
}

/* maki */
[class*="maki-"]:before {
  font-family: 'maki', sans-serif;
}

/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif;
}

/* typicons */
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}


@font-face{
	font-family: 'Rain Tax';
	src: url('font-styles/Rain Tax.otf');
}
@font-face{
	font-family: 'Viking';
	src: url('font-styles/Viking_n.tff');
}
@font-face{
	font-family: 'Blade';
	src: url('font-styles/Blade 2.ttf');
}
@font-face{
	font-family: 'Gonjuring';
	src: url('font-styles/THE GONjURING.ttf');
}


body{
    position:absolute;
    margin:0;
    width:100%;
    height:100%;
    background-color:#232323;
}
.header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(52,152,219,0.3);
}
.content{
    position:relative;
    top:20%;
    color:#fff;
    width:100%;
    height:80%;
}
.linkPanel{
    position:absolute;
    left:0;
    width:25%;
    height:100%;
    display: inline;
}
.mainLink{
    position:absolute;
    right:0;
    width:75%;
    height:100%;
    color: #fff;
}
.profilePic{
    position:relative;
    display:block;
}
.profilePic img{
    width:100%;
}
.contentPanel{
    position:absolute;
    right:0;
    width:75%;
    height:100%;
    display:inline;
}
.mainContent{
    width:90%;
    background-color:#fff;
    color:#000;
    margin-top:-30px;
    min-height:105%;
}
.inner{
    margin:auto;
    width:95%;
    height:100%;
}
.myName{
    position:absolute;
    bottom:0;
    text-align: center;
    padding:0px 5px;
    background-color: rgba(0,0,0,0.7);
}
.contactInfo{
    position:absolute;
    margin:auto;
    margin-top:20px;
    display: inline-block;
    z-index: 99;
}
.contactInfo div{
    margin:auto;
    width:90%;
}
.contactInfo .icon{
    padding:0px 6px;
}
.contactInfo .text{
    padding:0px 5px;
    text-align: right;
}

@media (max-width: 700px){
    .linkPanel{
        display:none;
    }
    .mainContent{
        width:90%;
        margin:auto;
        margin-top:10px;
        display:block;
    }
    .contentPanel{
        width:100%;
        margin:auto;
    }
    .header{
        position:fixed;
        height:10%;
        z-index: 90;
    }
    .content{
        top:10%;
    }
}