.header{
	height:220px;
	background-color: #1d2526;
	z-index: 0;
}
.banner{
	/*009D5A	275843	003C22	0CAA66	15AA6A*/
	height:60px;
	background-color: #1c1c1c;
	border-top: 2px solid #1d2526;
	border-bottom: 5px solid #7ea613;
	z-index: 3;
}
.hood{
	height:465px;
	background-color: #1d2526;
	z-index:2;
}
.content{
	background-color: #0B2F3A;
	z-index: 1;
	color:#FFFFFF;
	display:none;
}
.switch{
	/*border:5px solid #0B2F3A;*/
	border:1px solid #7ea613;
	/*background-color: #7ea613;*/

	background-image: linear-gradient(to bottom,#acd341 0,#88bd32 100%);
	
	margin:auto;
	margin-top:-30px;
	width:100px;
	height:100px;
	z-index:3000 !important;
	border-radius:10px;
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	border-radius: 1000px;
	padding-top:5px;
}
.switch2{
	margin:auto;
	margin-top: -1px;
	border:1px solid #009D5A;
	width:90px;
	height:90px;
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	border-radius: 1000px;
	padding:37px;
	background-color:#2f2f2f;
}

.container{
	margin-top: 40px;
}