body{
	padding:0px;
	margin:0px;
	overflow-x:hidden;
	font-size: 100%;
}
$jsColor:#ffda3e;
$htmlColor:#f16529;
$phpColor:#6082bb;
$otherColor:#6cf556;

$headHeight:250px;
$hiddenHeadHeight:150px;
$headBackground:url('../../images/header.jpg');
.maxWidth{
	width:100% !important;
}
.absolute{
	position:absolute;
}
.relative{
	position:relative;
}
.shadow{
	-webkit-box-shadow: 0px 2px 8px 0px rgba(192,192,192,0.75);
	-moz-box-shadow: 0px 2px 8px 0px rgba(192,192,192,0.75);
	box-shadow: 0px 2px 8px 0px rgba(192,192,192,0.75);
}
.wrap{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.65);
}
.headWrap{
	@extend .absolute;
	@extend .maxWidth;
	top:0px;
	left:0px;
	height:$headHeight;
	background-color:rgba(0,0,0,0.60);
	z-index: 100;
}
.head{
	@extend .maxWidth;
	@extend .shadow;
	background-image:$headBackground;
	background-attachment: fixed;
	height:$headHeight;
	background-color:red;
	@extend .relative;
	z-index: 99;
}
.midHead{
	height:$hiddenHeadHeight;
	background-image:$headBackground;
	background-attachment: fixed;
	@extend .relative;

	ul{
		list-style: none;
		margin:0px;
	}
}
.content{
	@extend .relative;
	margin-top:-$hiddenHeadHeight;
	/*background-color:#F5F5F5;*/
	min-height:550px;
	padding-top:20px;
	background-image:url('../../images/background.png');

	.Details::-webkit-scrollbar{
		display:none;
	}
	.Details{
		@extend .relative;
		border:1px solid #C5C5C5;
		max-width:100%;
		margin:auto;
		padding:3px 3px 3px 3px;
		overflow-x:scroll;
		display:block;
		
		.wrapper{
			width:1020px;
			display:block;
			margin:auto !important;
		}

		.subDetails{
			border:1px solid #C5C5C5;
			width:24%;
			min-height:400px;
			display: inline-block;
			float:left;
			margin-right:3px;
			position:relative;

			.category{
				position:absolute;
				bottom:5px;
				right:10px;
				font-size: 2.2em;
				color:#CCCCCC;
			}
			ul{
				color:#FFFFFF;
				position:relative;
				z-index: 999;
			}
		}
		#html{
			background-color: $htmlColor;
		}
		#js{
			background-color: $jsColor;
		}
		#php{
			background-color: $phpColor;
		}
		#other{
			background-color: $otherColor;
		}
	}

}
.switch{
	@extend .absolute;
	@extend .maxWidth;
	top:-15px;
	z-index: 101;
	border:1px solid transparent;

	.switchBtn{
		margin:auto;
		width:30px;
		height:30px;
		background-color:#E0E0E0;
		border-radius: 50%;
		line-height: 30px;
		text-align: center;
		border:1px solid #E0E0E0;
		img{
			width:100%;
		}
	}
	.switchBtn:hover{
		cursor:pointer;
	}
}

@media screen and (max-width: 976px){
	.wrapper{
		width:100% !important;
	}
	.subDetails{
		min-height: 150px !important;
		min-width:100% !important;
	}
}