body{
	padding:0px;
	margin:0px;
}

.circle{
	border-radius:50%;
}


.Container{
	position:relative;
	width:80%;
	margin:auto;
	display:block;
}
.accentContainer{
	position:fixed;
	width:20%;
	border:1px solid #333333;
	background-color:#333333;
	float:left;
	height:100%;
	text-align: center;
	padding-top:20px;
	img{
		height:80%;
		width:80%;
		margin:auto;
	}

}
.primaryContainer{
	position:relative;
	width:74%;
	border:1px solid none;
	float:right;
	min-height: 500px;
}

.box{
	height:100px;
	width:100px;
	border:1px solid black;
}

@media screen and (max-width: 768px){
	.Container{
		width: 100%;
	}
	.accentContainer{
		width:20%;
	}
	.primaryContainer{
		width:79%;
	}
}