/* line 1, ../scss/style.scss */
body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

/* line 9, ../scss/style.scss */
.maxWidth, .headWrap, .head, .switch {
  width: 100% !important;
}

/* line 12, ../scss/style.scss */
.absolute, .headWrap, .switch {
  position: absolute;
}

/* line 15, ../scss/style.scss */
.relative, .head, .midHead, .content, .content .Details {
  position: relative;
}

/* line 18, ../scss/style.scss */
.shadow, .head {
  -webkit-box-shadow: 0px 2px 8px 0px rgba(192, 192, 192, 0.75);
  -moz-box-shadow: 0px 2px 8px 0px rgba(192, 192, 192, 0.75);
  box-shadow: 0px 2px 8px 0px rgba(192, 192, 192, 0.75);
}

/* line 24, ../scss/style.scss */
.headWrap {
  top: 0px;
  left: 0px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

/* line 33, ../scss/style.scss */
.head {
  background-image: url("../../images/header.jpg");
  background-attachment: fixed;
  height: 250px;
  background-color: red;
  z-index: 99;
}

/* line 43, ../scss/style.scss */
.midHead {
  height: 150px;
  background-image: url("../../images/header.jpg");
  background-attachment: fixed;
}
/* line 49, ../scss/style.scss */
.midHead ul {
  list-style: none;
  margin: 0px;
}

/* line 54, ../scss/style.scss */
.content {
  margin-top: -150px;
  /*background-color:#F5F5F5;*/
  min-height: 550px;
  padding-top: 20px;
  background-image: url("../../images/background.png");
}
/* line 62, ../scss/style.scss */
.content .Details::-webkit-scrollbar {
  display: none;
}
/* line 65, ../scss/style.scss */
.content .Details {
  border: 1px solid #C5C5C5;
  max-width: 100%;
  margin: auto;
  padding: 3px 3px 3px 3px;
  overflow-x: scroll;
  display: block;
}
/* line 74, ../scss/style.scss */
.content .Details .wrapper {
  width: 1020px;
  display: block;
  margin: auto !important;
}
/* line 79, ../scss/style.scss */
.content .Details .wrapper .subDetails {
  border: 1px solid #C5C5C5;
  width: 250px;
  height: 400px;
  display: inline-block;
  float: left;
  margin-right: 3px;
  position: relative;
}
/* line 88, ../scss/style.scss */
.content .Details .wrapper .subDetails .category {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/* line 98, ../scss/style.scss */
.switch {
  top: -15px;
  z-index: 101;
  border: 1px solid transparent;
}
/* line 105, ../scss/style.scss */
.switch .switchBtn {
  margin: auto;
  width: 30px;
  height: 30px;
  background-color: #E0E0E0;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  border: 1px solid #E0E0E0;
}
/* line 114, ../scss/style.scss */
.switch .switchBtn img {
  width: 100%;
}
/* line 118, ../scss/style.scss */
.switch .switchBtn:hover {
  cursor: pointer;
}
