/* line 1, ../scss/style.scss */
body {
  padding: 0px;
  margin: 0px;
}

/* line 8, ../scss/style.scss */
.maxWidth, .headWrap, .head, .switch {
  width: 100% !important;
}

/* line 11, ../scss/style.scss */
.absolute, .headWrap, .content .subContainer .subDetails, .switch {
  position: absolute;
}

/* line 14, ../scss/style.scss */
.relative, .head, .midHead, .content, .content .Details, .content .subContainer {
  position: relative;
}

/* line 17, ../scss/style.scss */
.shadow, .head {
  -webkit-box-shadow: 0px 2px 8px 0px rgba(192, 192, 192, 0.75);
  -moz-box-shadow: 0px 2px 8px 0px rgba(192, 192, 192, 0.75);
  box-shadow: 0px 2px 8px 0px rgba(192, 192, 192, 0.75);
}

/* line 23, ../scss/style.scss */
.headWrap {
  top: 0px;
  left: 0px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

/* line 32, ../scss/style.scss */
.head {
  background-image: url("../../images/header.jpg");
  background-attachment: fixed;
  height: 250px;
  background-color: red;
  z-index: 99;
}

/* line 42, ../scss/style.scss */
.midHead {
  height: 150px;
  background-image: url("../../images/header.jpg");
  background-attachment: fixed;
}
/* line 48, ../scss/style.scss */
.midHead ul {
  list-style: none;
  margin: 0px;
}

/* line 53, ../scss/style.scss */
.content {
  margin-top: -150px;
  background-color: #F5F5F5;
  min-height: 550px;
  padding-top: 20px;
}
/* line 60, ../scss/style.scss */
.content .Details {
  border: 1px solid #C5C5C5;
  width: 80%;
  margin: auto;
  height: 100%;
}
/* line 70, ../scss/style.scss */
.content .subContainer .crumbs {
  display: inline-block;
  /*border:1px solid black;*/
  width: 5%;
  min-height: 100px;
}
/* line 76, ../scss/style.scss */
.content .subContainer .crumbs div {
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 81, ../scss/style.scss */
.content .subContainer .subDetails {
  top: 0px;
  right: 0px;
  display: inline-block;
  /*border:1px solid black;*/
  width: 94%;
  height: 100%;
}

/* line 93, ../scss/style.scss */
.switch {
  top: -15px;
  z-index: 101;
  border: 1px solid transparent;
}
/* line 100, ../scss/style.scss */
.switch .switchBtn {
  margin: auto;
  width: 30px;
  height: 30px;
  background-color: #E0E0E0;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  border: 1px solid #E0E0E0;
}
/* line 110, ../scss/style.scss */
.switch .switchBtn:hover {
  cursor: pointer;
}
